# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/

# Virtual environments
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# Data and outputs
/data/*
!/data/.gitkeep
/outputs/*
!/outputs/figures/
/outputs/figures/*
!/outputs/figures/.gitkeep
!/outputs/tables/
/outputs/tables/*
!/outputs/tables/.gitkeep

# OS
.DS_Store
Thumbs.db
